@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100;
}

/* Add this to ensure the scroll-padding-top accounts for the fixed header */
html {
  scroll-padding-top: 4rem; /* Adjust this value based on your header height */
}

/* Add this at the end of the file */
.rbc-calendar {
  z-index: 1;
}